.row
  %h1 My Patients entries:
.row
  %table.table.table-striped
    %thead
      %tr
        %th Examination type
        %th Value
        %th Description
        %th User
        %th Created at
    %tbody
      - my_patients_entries.each do |entry|  
        %tr
          %td= entry.examination_type
          %td= entry.value
          %td= entry.entry_description
          %td= link_to entry.patient, summary_user_path(entry.user_id)
          %td= entry.date_ago