%h1= 'All Entries'

%table.table.table-striped
  %tr
    %th #
    %th Examination
    %th Date
    %th Value
    %th Last examination
  =paginate entries, :theme => 'twitter-bootstrap-3'
  - id = 1
  - entries.each do |entry|
    %tr
      %td= id
      %td= entry.name
      %td= entry.date
      %td= entry.value_with_unit
      %td= entry.date_ago
    - id += 1
