%h1 New entry

= simple_form_for entry do |f|
  .well.entries-form
    .form-inputs
      .form-inline
      = f.input :date, as: :date, label: 'Select date: '
      = f.input :examination_type, collection: entry.examination_type_collection
      = f.input :value
      = f.input :description
    .form-actions
      = f.button :submit, "Save"
