%h1 New entry

= simple_form_for entry do |f|
  = f.error_notification
  .form-inputs
    = f.input :date, as: :date
    = f.input :examination_type, collection: entry.examination_type_collection
    = f.input :value
    = f.input :description
  .form-actions
    = f.button :submit, "Save"
