%h1 #{user.firstname} #{user.lastname} (Summary)
.col-sm-10
  .form
    = simple_form_for alert, url: user_alerts_path(user) do |f|
      .form-group
        .form-inputs
          = f.input :content
      .form.actions
        =f.button :submit, "Add alert"

= render partial: 'dashboard/dashboard'
